@model Product

<form method="post">
    <input asp-for="Id" hidden />
    <div class="card shadow-sm border-light my-4">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Delete Product</h2>
        </div>
        <div class="card-body">
            <div class="mb-3 row p-1">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ISBN" class="form-label"></label>
                <input asp-for="ISBN" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ListPrice" class="form-label"></label>
                <input asp-for="ListPrice" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price50" class="form-label"></label>
                <input asp-for="Price50" disabled class="form-control" />
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Price100" class="form-label"></label>
                <input asp-for="Price100" disabled class="form-control" />
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-danger w-100">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary w-100">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
